body
{
	background-color: #2F3336;
	color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}

.startPage
{
	background-image: url('../img/tlo.jpg');
	background-color: #2F3336;
	color: #ffffff;
    font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#pageContent
{
	display: none;
}

.startPageContent
{
	background-color: #2F3336;
	border-radius: 25px;
	margin-top: 9%;
}

@media (max-width: 1700px)
{
	.startPageContent
	{
		margin-top: 11%;
	}
}

@media (max-width: 1400px)
{
	.startPageContent
	{
		margin-top: 14%;
	}
}

@media (max-width: 950px)
{
	.startPageContent
	{
		margin-top: 22%;
	}
}

.startPageContent h2
{
	font-size: 50px;
}

.startPageContent hr
{
	background-color: black;
}

#signupPage
{
	display: none;
}

#drawingBox
{
	background-color: rgb(0, 0, 0);
}

#drawingBoxContent
{
	background-color: white;
	height: calc(80vh);
	min-height: 775px;
	overflow-x: scroll;
	overflow-y: clip !important;
	max-width: 1873px;
}

#draw
{
	touch-action: none;
	cursor: crosshair;
}

#drawingBoxContent::-webkit-scrollbar-track
{
	background-color: lightgrey;
}

#drawingBoxContent::-webkit-scrollbar
{
	width: 6px;
}

#drawingBoxContent::-webkit-scrollbar-thumb
{
	box-shadow: none;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(53, 53, 53);
}

@media (max-width: 1033px) 
{

    #drawingBoxContent::-webkit-scrollbar
	{ 
		height: 20px;
	}
}

@media (max-width: 756px) 
{

    #drawingBoxContent::-webkit-scrollbar
	{ 
		height: 25px;
	}
}

#availableButtons
{
	margin-top: 20px;
	height: 38px;
}

#leaveBtn
{
	display: none;
}

.usersContainer
{
	background-color: rgb(15, 83, 15);
	text-align: center;
	min-height: 51px;
}

.roomUsername, .user
{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.roomUsername:hover, .user:hover 
{
	overflow-wrap: break-word;
	white-space: normal;
}

.roomUser
{
	transition: transform 0.5s 0s, opacity 1s 0s;
	transform: translateY(0);
	opacity: 1;
}

.roomUserDelete
{
	transform: translateY(10vw);
	opacity: 0;
}

.removeButtonContainer 
{	
	background: rgb(126, 2, 2);
}

.removeButtonContainer:hover
{
	cursor: pointer;	
	background: rgb(250, 0, 0);
}

.center 
{
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

@media (max-width: 575px)
{
	#joinToUser
	{
		width: 30%;
		margin-left: auto !important;
	}
	.roomUsername
	{
		margin-left: auto !important;
	}
	.removeButtonContainer
	{
		max-width: 40px !important;
	}
}

.user:hover
{
	background-image: linear-gradient(rgb(60, 255, 0), rgb(8, 143, 42));
	cursor: pointer;
}

.newUser
{
	animation: appendAnimate .3s linear;
}

@keyframes appendAnimate 
{
	from {

		transform: scale(0);
		opacity: 0;
	}
	to 
	{
		transform: scale(1);
		opacity: 1;	
	}
}

.noUsers
{
	animation: appendAnimate 1s linear;
	height: 51px;
}

.alert-mainContainer
{
	display: none;
	position: fixed; 
	z-index: 1;
	overflow: auto;
	left: 0;
	top: 0;
	width: 100%;
}

.alert-subContainer
{
	margin: 2%; 
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding: 0;
}

.alert-subContainer div
{
	cursor: pointer;
	margin: 0; 
	width: 100%;
}

.alertContent
{
	overflow-wrap: break-word;
	white-space: normal;
}

@media (min-width: 1050px) 
{
    .managementRow
	{ 
		display: flex; 
	}
	
    .sizeRow 
	{ 
		order: 1;
	}
	
	.logoutRow
	{ 
		order: 2;
	}
}

@media (max-width: 940px) 
{
    .managementRow
	{ 
		display: flex; 
	}

    .sizeRow 
	{ 
		order: 1;
	}
	
	.logoutRow
	{ 
		order: 2;
		margin-left: 0 !important;
		margin-right: auto !important;
		margin-top: 60px !important;
	}

	#loggedUser
	{
		width: auto !important;
	}
}

.logoutRow
{
	max-height: 41px;
}

#loggedUser
{
	width: 430px;
}

.sizeRow 
{ 
	max-width: 450px;
	z-index: 2;
	position: fixed;
    background-color: #333;
    padding: 5px 0;
	border-radius: 10px;
}

.pencil
{
	padding: 2px 6px 2px 6px;
}

.pencil:hover
{
	background-color: #4CAF50;
	cursor: pointer;
}

.activePencilButton
{
	background: #4CAF50;
}

.rubber
{
	padding: 2px 6px 2px 6px;
}

.rubber:hover
{
	background: rgb(190, 48, 48);
	cursor: pointer;
}

.activeRubberButton
{
	background: rgb(255, 0, 0);
}

.activeRubberDrawingBox
{
	cursor: cell !important;
}

.btn-label 
{
	position: relative;
	left: -12px;display: inline-block;
	padding: 6px 12px;
	background: rgba(0,0,0,0.15);
	border-radius: 3px 0 0 3px;
}

.btn-labeled 
{
	padding-top: 0;
	padding-bottom: 0;
}

#chat #chatImg
{
	cursor: pointer;
}

#chat #chatImg:hover 
{
	background-color: #4CAF50;
}
  
#chatContent
{
	display: none;
	position: absolute;
	z-index: 1;
	width: 600px;
	background-color: darkgray;
}

@media (max-width: 1049px)
{
	#chatContent
	{
		margin-left: -210px;
	}
}

@media (max-width: 864px)
{
	#chatContent
	{
		margin-left: -310px;
	}
}

@media (max-width: 764px)
{
	#chatContent
	{
		margin-left: -400px;
	}
}

@media (max-width: 650px)
{
	#chatContent
	{
		width: 100% !important;
	}
}

@media (max-width: 490px)
{
	#drawingColor
	{
		margin-right: 200px !important;
	}
	.sizeRow 
	{ 
		max-width: 350px;
	}
	.logoutRow
	{ 
		margin-top: 90px !important;
	}
	#chatContent
	{
		margin-left: -275px;
	}
}

#messages
{
	max-height: calc(60vh);
	overflow-y: scroll;
}

#messages::-webkit-scrollbar-track
{
	background-color: lightgrey;
}

#messages::-webkit-scrollbar
{
	width: 6px;
}

#messages::-webkit-scrollbar-thumb
{
	box-shadow: none;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(53, 53, 53);
}

.close
{
	float: right;
	cursor: pointer;
	width: 3%;
	border-radius: 20px;
}

.close:hover
{
	background-color: crimson;
}

#joinRequest
{
	display: none;
	position: fixed; 
	color: black;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}

#joinRequestContent
{
	background-image: linear-gradient(rgb(175, 174, 174), rgb(207, 205, 205));
	margin: 15% auto; 
	padding: 20px;
	border: 1px solid #888;
	border-radius: 10px; 
}

#blockedUsers
{
	display: none;
	position: fixed; 
	color: black;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}

#blockedUsersContainer
{
	background-image: linear-gradient(rgb(175, 174, 174), rgb(207, 205, 205));
	margin: 15% auto; 
	padding: 20px;
	border: 1px solid #888;
	border-radius: 10px; 
}

#blockedUsersContent .btn-success
{
	float: right;
	height: 33px;
}

#blockedUsersContent .border-left, .border-right
{
	border-left-width: 10px !important;
	border-right-width: 10px !important;
	border-color: rgb(68, 71, 68) !important;
}

#removeMessagesConfirmation
{
	display: none;
	position: fixed; 
	color: black;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}

#confirmationContainer
{
	background-image: linear-gradient(rgb(175, 174, 174), rgb(207, 205, 205));
	margin: 15% auto; 
	padding: 20px;
	border: 1px solid #888;
	border-radius: 10px; 
}

#loader-wrapper 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader 
{
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color:deepskyblue;

    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;

    z-index: 1001;
}

@-webkit-keyframes spin 
{
	0%   
	{ 
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% 
	{
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin 
{
	0%   
	{ 
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% 
	{
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#loader-wrapper
{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1000;
}

.loaded #loader 
{
	opacity: 0;
}

.loaded #loader-wrapper 
{
	visibility: hidden;
}